/*------------------------------------*\
  Components > Drop Caps
\*------------------------------------*/

.u-drop-cap,
.u-drop-cap-large,
.u-drop-cap--block-small,
.u-drop-cap--block-large {
  &::first-letter {
    float: left;
    font-weight: var(--font-weight-normal);
    font-family: Georgia, serif;
  }
}

.u-drop-cap,
.u-drop-cap-large {
  &::first-letter {
    margin-top: 10px;
    margin-right: var(--space-8);
  }
}

.u-drop-cap::first-letter {
  font-size: 96px;
  line-height: 66px;
}

.u-drop-cap-large::first-letter {
  font-size: 135px;
  line-height: 94px;
}

.u-drop-cap--block-small,
.u-drop-cap--block-large {
  &::first-letter {
    margin-top: var(--space-8);
    margin-right: var(--space-16);
    border-radius: var(--space-4);
    color: var(--background-primary);
    background: var(--color-text-primary);
  }
}

.u-drop-cap--block-small::first-letter {
  font-size: 50px;
  line-height: 36px;
  padding: var(--space-16);
}

.u-drop-cap--block-large::first-letter {
  font-size: 80px;
  line-height: 56px;
  padding: var(--space-20) var(--space-24);
}