/*------------------------------------*\
  Components > Hero
\*------------------------------------*/

@use "../vendor/mq";

.c-home-center {
  margin-bottom: var(--space-32);
  background-color: var(--background-hero);

  @include mq.mq($from: desktop) {
    margin-bottom: var(--space-40);
  }

  &__image {
    margin: auto;
  }

  &__content {
    padding: var(--space-32);
    border-radius: var(--space-4);

    @include mq.mq($from: desktop) {
      padding: var(--space-40);
    }
  }
}